---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon  from '../components/icons/Mail.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro'
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro';
import Skill from '../components/Skill.astro';
---


<Layout title='Portfolio de DanTe - Desarrollador web y Analista de Datos'
description='Contacta a DanTe para crear tu aplicación web o tus Dashboard mediante software de visualización de datos '>
	<main class="px-4">
		<SectionContainer  class="py-24 pb-30">
			    <img class="rounded-full size-32  mb-4" src="../../public/img/CNF_1554.JPG" alt="Dev Dante">
			
			<h1 class="text-white text-xl  md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 p-6 lg:pb-8 ">I'm Diego Villalobos 
				<a href="https://www.linkedin.com/in/diegovillalobos16/" target="_blank" rel="noopener">

				<div class="flex justify-center items-center"><Badge>Trabajando</Badge></div>
			</a>
			</h1> 
			<h2 class="text-xl lg:text-xl text-wrap max-w-[700px]">
				<span> De Copiapó, Chile. </span> <br>
				<span>Ingeniero Informático en el Área de TI de Minera Caserones.</span> <br> 
				<span>Ingeniero en Informática | Licenciado en Informatica | Tecnico Superior Analista Programador.</span> <br>
				<span>Experiencia en Analisis de Datos y Soporte Técnico. </span>  <br>
				<span>Actualmente me desempeño como Ingeniero Informático en el Área de TI de Minera Caserones.</span>
			</h2>
		<ul>
			<nav class="flex gap-4 mt-8 flex-wrap">

				<SocialPill href="https://www.linkedin.com/in/diegovillalobos16/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn 
				</SocialPill>
				<SocialPill href="https://github.com/DanDie30">
					<GithubIcon class="size-4 md:size-6"/>
					Github
				</SocialPill>
				<SocialPill href="mailto:diegovillalobos.oliv@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					diegovillalobos.oliv@gmail.com
				</MailIcon>
			</nav>
		</SectionContainer>
	
	<Skill>
		
	</Skill>
	


	<SectionContainer id="experiencia" class="py-20">

		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
			<Briefcase class="size-8"/>
			Experiencia Laboral
		</h2>
		<Experience/>
	</SectionContainer>
	
	<SectionContainer id="proyectos" class="py-15">

		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
			<CodeIcon class="size-8"/>
			Proyectos
		</h2>
		<Projects/>
	</SectionContainer>



	</main>
</Layout>
