---
import ExperiencieItem from '../components/ExperienceItem.astro'
const Experiencee = [
    {
        date: 'Trimestre 1 2023',
        title: 'Practica Profesional Ingenieria Informática',
        description: 'Servicio de Soporte Técnico a usuarios de la empresa, mantención de equipos, instalación de software y hardware, gestión de inventario y documentación técnica.',
        link: '#'

    },
    {
        date: 'Trimestre 2, 3, 4 2023',
        title: 'Analista de Datos',
        description: 'Creación de Dashboards para la visualización de datos, análisis de datos y generación de informes utilizando herramientas como Excel y Looker Studio.',
        link: '#'

    },
    {
        date: 'Febrero 2024 - Actualidad',
        title: 'Ingeniero Informático en el Área de TI de Minera Caserones.',
        description: 'Actualmente me desempeño como Ingeniero Informático en el Área de TI de Minera Caserones, donde realizo tareas de soporte técnico, instalación de software y hardware, gestión de inventario conforme a proyectos tecnologicos especificamente en notebooks, gestión de usuarios mediante Active Directory, Monitoreo, Mantención y Resolucion de Problemas  en Dispositivos de Telecomunicaciones (Access Point y Switch).',
        link: '#'

    },


]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">  
    {Experiencee.map(experiencee =>(
            <li class="mb-10 ms-4">
                <ExperiencieItem {... experiencee} />
            </li>

    ))}                
    

